@import "../../../mixins.scss";

.heroBanner {
    width: 100%;
    height: 450px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    position: relative;
    @include md {
        height: 700px;
    }
    .backdrop-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        overflow: hidden;
        .lazy-load-image-background {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    
    .heroBannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        .title {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 10px;
            @include md {
                margin-bottom: 24px;
                font-size: 90px;
            }
        }
        .subTitle {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
            @include md {
                font-size: 24px;
            }
        }
        .searchInput {
            display: flex;
            align-items: center;
            width: 90%;
            input {
                width: calc(100% - 100px);
                height: 50px;
                outline: 0;
                border: 0;
               background-color: #0000003b;
                padding: 0 15px;
                font-size: 14px;
                border-bottom: 2px var(--redHighlight) solid;
                @include md {
                    width: calc(100% - 150px);
                    height: 46px;
                    font-size: 20px;
                    padding: 0 30px;
                    color: white;
                }
            }
            button {
                width: 100px;
                height: 50px;
                background: var(--redHighlight);
                color: white;
                outline: 0;
                border: 0;
                font-size: 16px;
                cursor: pointer;
                transition: all 0.3s ease;
                @include md {
                    width: 150px;
                    height: 46px;
                    font-size: 18px;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        
    }
}